body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff69b4; /* Pink background color */
    color: #fff; /* White text color */
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.gift-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px; /* Set a fixed width for the gift cards */
    height: auto; /* Set height to auto to accommodate variable content */
    margin: 20px; /* Add margin to create space between the gift cards */
    overflow: hidden;
    transition: transform 0.3s ease; /* Add transition for smooth hover effect */
}

.gift-card:hover {
    transform: scale(1.05); /* Scale up the gift card on hover */
}


.gift-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.gift-card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: center;
    color: #ff69b4; /* Pink text color */
}

.gift-card p {
    font-size: 1rem;
    padding: 0 10px;
    text-align: center;
    color: #333; /* Dark gray text color */
}

.buy-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff69b4; /* Pink background color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #d46a9f; /* Darker pink background color on hover */
}

#chocolates {
    align-content: flex-start;
}