body {
    font-family: Arial, sans-serif;
    background-color:pink;
}

header {
    background-color: #ff4081;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 0.5em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

#gifts ul {
    list-style: none;
    padding: 0;
}

#gifts li {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buy-button {
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #ff0055;
}
